@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle, #411edd, #252525);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.texto{
    color: #fff;
    font-size: 32px;
}

.h1-home{
    color: #fff;
    font-weight: bolder;
    font-size: 28px;
}


.h1-login{
    color: #fff;
    font-weight: bolder;
    font-size: 35px;
}

.h1-cadastrar{
    color: #fff;
    font-weight: bolder;
    font-size: 35px;
}

.texto-form{
    color: #fff;
    font-size: 16px;
}

.quadrado {
    width: 400px;
    height: 300px;
    background-color: #080808;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr auto;   
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.quadrado-login{
    width: 300px;
    height: 380px;
    background-color: #080808;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}


.form-login {
    display: flex;
    flex-direction: column;
    width: 250px;
}

label {
    margin-bottom: 5px;
    font-weight: lighter;
    color: #fff;
    font-size: 15px;
    height: 22px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    height: 10px;
    width: 280px;
}

.btn{
    background-color: #411edd;
    color: white;
    width: 400px;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins', bold;
}

.btn-login{
    display: flex;
    justify-content: center;  
    align-items: center;
    padding: 12px 20px; 
    font-size: 16px;
    height: 38px;
    border-radius: 8px;
    background: #411edd;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    width: 300px;
    font-weight: bolder;
}

.texto-conta{
    color: #333;
}

.quadrado-registrar{
    width: 300px;
    height: 300px;
    background-color: #080808;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.btn-cadastrar{
    display: flex;
    justify-content: center;
    align-items: center;         
    padding: 12px 20px;
    font-size: 16px;
    height: 38px;
    border-radius: 8px;
    background: #411edd;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    width: 300px;
    font-weight: bolder;
}
