<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>Registrar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>


    <div class="container">
    <div class="quadrado-registrar"> 
        
    <h1 class="h1-cadastrar">Criar conta</h1>

    <form action="" method="post" class="form-login">
        <label for="usuario">Usuário</label>
            <input type="text" id="usuario" name="nomeForm" placeholder="Cadastre seu usuário">

        <label for="senha">Senha</label>
            <input type="password" id="senha" name="senhaForm" placeholder="Cadastre sua senha">

    <button type="submit" value="Cadastrar" class="btn-cadastrar">Registrar</button>
</form>
    </div>
    </div>
</body>
</html>